@import "mixin.scss";

// common
%icon-btn{
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
}

%ul-box{
    width: 100%;
    overflow: hidden;
    border: 1px  solid rgba(255, 255, 255, 0.459);
    background-color: rgba(0,0,0,0.4);
}

// Root
#root{
    width: 100%;
    height: 100vh;
    .App{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        position: relative;
        &.sub{
            background: url(../assets/images/bg.jpg) center no-repeat;
            background-size: cover;
            height: unset;
        }
        video{
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .inner{
            width: 96%;
            height: 100%;
            margin: 0 auto;
        }
        
    }
}

// Header
.header-wrap{
    .header-inner{
        padding-top: 2%;
        header{
            display: flex;
            justify-content: space-between;
            h1#logo{
                width: 146px;
                height: 44px;
                a{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    background-image: url(../assets/images/logo.png);
                    text-indent: -9999px;
                }
            }
        }
    }
}

// Main
.main-wrap{
    width: 100%;
    height: calc(98% - 88px);
    position: relative;
}

// Player
.player-wrap{
    display: flex;
    opacity: 0.7;
    align-items: center;
    color: #fff;
    audio{
        display: none;
    }
    .song-title-box{
        display: flex;
        align-items: center;
        margin-right: 3px;
        i{
            display: block;
            width: 24px;
            height: 24px;
            background: url(../assets/images/icon.png) no-repeat;
        }
        p{
            font-size: 0.85rem;
        }
    }
    .control-box{
        width: 84px;
        margin: 0 auto;
        button{
            background-image: url(../assets/images/icon.png);
            margin-left: 4px;
            @include player-btn;
            @extend %icon-btn;
        }
        button.pause-btn{
            background-position-x: -96px;
        }
    }
}

.search-box{
    position:relative;
    width: 80%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2{
        font-family: "NanumMyeongjo", sans-serif;
        font-size: 2.6rem;
        text-align: center;
        margin-bottom: 1.5rem;
        color: #fff;
        font-weight: 600;
        text-shadow: 0px 2px 5px rgba(0,0,0,0.45);
    }
    .search{
        display: flex;
        align-items: center;
        padding: 1.2rem 1.3rem;
        border-radius: 30px;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.541);
        input{
            &::-webkit-input-placeholder{
                color: rgba(255, 255, 255, 0.856);
            }
            display: block;
            width: calc(100% - 34px);
            height: 100%;
            font-size: 1rem;
            color: #fff;
            background-color: transparent
            
        }
        button{
            background: url(../assets/images/search.png);
            @extend %icon-btn;
        }
    }
}

.user-wrap{
    width: 100%;
    height: 98%;
    margin-top: 4%;
    color: #fff;
    overflow: auto;
    .user-inner{
        height: 100%;
        .user-profile-box{
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            h2{
                font-size: 1.6rem;
                font-weight: 600;
                margin: 0 0.5rem ;
            }
            .server{
                width: auto;
                padding: 0.35rem 1rem 0.26rem;
                font-size: 0.8rem;
                text-align: center;
                font-weight: 600;
                background-color: #6046c7;
                border-radius: 60px;
            }
        }
        ul.user-card-box{
            margin-bottom: 3rem;
            @extend %ul-box;
            li{
                width: calc(100% / 3);
                height: 100%;
                padding: 15px;
                float:left;
                text-align: center;
                position: relative;
                &:nth-child(2n){
                    &::after{
                        content: "";
                        width: 100%;
                        height:60%;
                        top: 20%;
                        left: 0;
                        position: absolute;
                        border-left: 1px solid rgba(255, 255, 255, 0.45);                  
                        border-right: 1px solid rgba(255, 255, 255, 0.45);
                    }
                }
                div{
                    height: 100%;
                    margin: 0 auto;
                    img{
                        display: block;
                        width: 46px;
                    }
                    h4{
                        font-size: 0.82rem;
                        margin-bottom: 10px;
                        color:rgba(255, 255, 255, 0.6);                  
                    }
                    p{
                        font-weight: 600;
                        font-size: 1.2rem;
                        letter-spacing: 0;
                    }
                }
                
            }
        }
        .user-list-box{
            margin-bottom: 3rem;
            h3{
                font-weight: 600;
                margin-bottom: 1rem;
            }
            ul{
                @extend %ul-box;
                padding: 1rem;        
                li{
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    div{
                        margin-left: 1rem;
                        line-height: 1.3rem;
                        font-size: 0.9rem;
                        p{
                            font-size: 0.8rem;
                            &:first-child{
                                font-weight: 600;
                            }
                        }
                    }
                }    
            }
            
        }
    }
}
img{
    &.grade-1{
        background: linear-gradient(135deg,#18220b,#304911);
    }
    &.grade-2{
        background: linear-gradient(135deg,#111f2c,#113d5d);
    }
    &.grade-3{
        background: linear-gradient(135deg,#261331,#480d5d);
    }
    &.grade-4{
        background:linear-gradient(135deg,#362003,#9e5f04)
    }
    &.grade-5{
        background: linear-gradient(135deg,#341a09,#a24006);
    }
    &.grade-6{
        background: linear-gradient(135deg,#3d3325,#dcc999);
    }
}